{erl_opts, [debug_info]}.
{deps,
 [{cowboy, "2.9.0"},
  {jsone, "1.7.0"},
  {ranch, "2.1.0"},
  {gen_cluster, {git, "https://github.com/jessa0/gen_cluster.git", {branch, "master"}}}]}.

{profiles,
 [{test,
   [{deps,
     [{ct_helper, {git, "https://github.com/ninenines/ct_helper", {branch, "master"}}}]}
   ]}
 ]}.

{shell,
 [{apps, [sendfile]},
  {config, "config/rebar-shell.config"}]}.
