{erl_opts, [debug_info]}.

{plugins,
 [{rebar3_gpb_plugin, "2.22.1"}]}.

{deps,
 [{cowboy, "2.9.0"},
  {jsone, "1.7.0"},
  {ranch, "2.1.0"},
  {gen_cluster, {git, "https://github.com/jessa0/gen_cluster.git", {branch, "master"}}}
 ]}.

{gpb_opts,
 [{i, "src"},
  {o_erl, "src"},
  {o_hrl, "include"},
  {ignore_wellknown_types_directory, true},
  {strings_as_binaries, true},
  {gen_introspect, false},
  use_packages,
  include_as_lib,
  {rename, {msg_fqname, dots_to_underscores}},
  {rename, {msg_name, snake_case}},
  {rename, {enum_typename, snake_case}},
  {rename, {enum_typename, dots_to_underscores}}
 ]}.

{provider_hooks,
 [{pre,
   [{compile, {protobuf, compile}},
    {clean, {protobuf, clean}}
   ]}
 ]}.

{xref_ignores, [sendfile_websocket_protocol]}.

{profiles,
 [{test,
   [{deps,
     [{ct_helper, {git, "https://github.com/ninenines/ct_helper", {branch, "master"}}}]}
   ]}
 ]}.

{shell,
 [{apps, [sendfile]},
  {config, "config/rebar-shell.config"}
 ]}.
