[{sendfile,
  [{port, 8080},
   {session_table_nodes, ['sendfile@sendfile-session-1-mkb6.us-east4-b.c.glip-glop.internal', 'sendfile@sendfile-session-1-npt9.us-east4-c.c.glip-glop.internal']}]},
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_io},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }},
     {handler, disk_log, logger_disk_log_h,
      #{config => #{file => "./log/sendfile.log"},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }}
    ]}
  ]}
].
