[{sendfile,
  [{port, 8080},
   {session_table_nodes,
    ['sendfile@session-1.glopfile.net',
     'sendfile@session-2.glopfile.net']}
  ]},
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_io},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }},
     {handler, disk_log, logger_disk_log_h,
      #{config => #{file => "./log/sendfile.log"},
        formatter =>
            {logger_formatter,
             #{legacy_header => false,
               single_line => true,
               time_designator => $ ,
               template => [time," ",level," ", pid," ",mfa,":",line," === ",msg,"\n"]}}
       }}
    ]}
  ]}
].
